:root {
  --bg: #1e1e26;
  --bg-light: #1a1a21;
  --bg-dark: #16161c;
  --gradient: linear-gradient(249.73deg, #f29682 0%, #ee69ac 50%, #cb4bcf 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Inter", sans-serif;
  color: #f9f9f9;
  background: var(--bg);

  max-height: 100vh;
}

input,
textarea {
  font-family: "Inter";
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

button {
  cursor: pointer;
}
