section.task-list {
  background: var(--bg-dark);
  border-radius: 0 0 8px 8px;
  min-height: 80%;
  max-height: 90vh;

  @media (min-width: 62.5rem) {
    display: grid;
    grid-template-columns: 30% 70%;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    padding: 0 1rem;

    & > div {
      h1 {
        font-size: 1.375rem;
        margin: 1.5rem 0;
      }
    }

    .main-card {
      height: 100px;
      width: 100%;

      margin-top: -1rem;
      padding: 1rem;
      border-radius: 8px;

      background: var(--bg);

      display: flex;
      align-items: center;

      position: relative;

      & > canvas {
        position: absolute;
        left: -70px;
        top: 11px;
        max-width: 80%;

        @media (max-width: 62.4rem) {
          position: fixed;
          top: 167px;
          left: -27%;
        }

        @media (max-width: 900px) {
          left: -25%;
        }

        @media (max-width: 775px) {
          left: -22.5%;
        }

        @media (max-width: 660px) {
          left: -19%;
        }

        @media (max-width: 540px) {
          left: -16%;
        }
      }

      .progress-text {
        margin-left: 6.5rem;

        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: relative;
      }

      .progress-data {
        background: var(--gradient);

        height: 65px;
        width: 65px;

        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        p {
          font-weight: 500;
        }
      }
    }

    footer {
      margin-top: 1rem;
      display: flex;

      div {
        margin-left: 1rem;

        strong {
          font-size: 1.375rem;
        }

        p {
          margin-top: 0.1rem;
        }
      }
    }
  }

  main {
    margin-top: 2rem;
    padding: 0 1rem;
    max-height: 50vh;

    @media (min-width: 62.5rem) {
      max-height: 80vh;
    }

    .tasks-container {
      padding: 1.5rem 0;
      max-height: 50vh;

      display: flex;
      flex-direction: column;

      @media (min-width: 62.5rem) {
        max-height: 75vh;
      }

      h2 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1rem;
        letter-spacing: 3px;
      }

      h2.desktop-title {
        font-weight: 700;
        text-transform: initial;
        letter-spacing: normal;
        font-size: 1.375rem;
      }

      ul {
        max-height: 100%;
        overflow: auto;

        list-style: none;

        li {
          display: flex;
          justify-content: space-between;
          align-items: center;

          margin-top: 1rem;
          padding: 1.125rem 1rem;
          margin-right: 12px;

          border-radius: 8px;

          background: var(--bg);

          div {
            display: flex;
            align-items: center;
            gap: 14px;
            outline: 0;

            p {
              font-size: 1rem;
            }

            &.completed {
              p {
                text-decoration: line-through;
                opacity: 0.75;
              }
            }

            .checkbox-container {
              display: block;
              position: relative;
              padding-left: 14px;
              margin-bottom: 18px;

              input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;

                &:checked {
                  & ~ .checkmark {
                    background: var(--gradient);
                  }

                  & ~ .checkmark:after {
                    display: block;
                  }
                }
              }

              .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                background: var(--gradient);
                border-radius: 50%;
                z-index: 1;
                cursor: pointer;

                &:after {
                  content: "";
                  position: absolute;
                  display: none;
                  left: 8px;
                  top: 5px;
                  width: 3px;
                  height: 6px;
                  border: solid white;
                  border-width: 0 2px 2px 0;
                  transform: rotate(45deg);
                }
              }
            }
          }

          button {
            background: transparent;
            border: 0;

            svg {
              color: #fff;
            }

            &:hover {
              svg {
                filter: brightness(0.8);
              }
            }
          }
        }
      }
    }
  }
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  font-size: 16px;

  position: fixed;

  right: 20px;
  bottom: 35px;

  input {
    background: var(--bg-light);
    color: #f9f9f9;
    padding: 14px 24px;
    margin-right: 10px;

    border-radius: 8px;
    border: 0;

    &::placeholder {
      color: #fff;
    }
  }

  button {
    font-weight: 500;
    font-size: 1.5rem;

    border: 0;
    border-radius: 50%;
    outline: none;

    width: 40px;
    height: 40px;

    background: var(--gradient);
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.2s;

    &:hover {
      filter: brightness(0.95);
    }
  }
}

.desktop-button {
  position: relative;
}

.input-off {
  opacity: 0;

  pointer-events: none;
}

.desktop-bg {
  background: var(--bg-light);
  max-height: 90vh;
}

.profile-photo {
  & > img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
}
